<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>%%site_name%%</title>
</head>
<body bgcolor="%%background-color%%" style="font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
<table bgcolor="%%background-color%%" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
	<tr>
		<td height="25">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" width="675" bgcolor="" style="width: 100%; min-width: 475px; max-width: 675px; border-top: 1px solid %%border-color%%; border-left: 1px solid %%border-color%%; border-right: 1px solid %%border-color%%; table-layout: fixed;" rules="none" align="center">
				<tr bgcolor="%%banner-color%%">
					<td>
						<table style="width: 90%; min-width: 425px; max-width: 600px;" align="center" cellpadding="0" cellspacing="0" width="600" border="0">
							<tr valign="top">
								<td height="25"></td>
							</tr>
							<tr valign="top">
								<td width="40%">
									<h2 style="margin: 0; color: #333333;">%%site_name%%</h2>
								</td>
								<td width="60%">
									<div align="right">
										<a href="%%site_url%%" style="color: #444444;">
											<small>View Site</small>
										</a>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td height="25"></td>
							</tr>
						</table>
					</td>
				</tr>

				<tr bgcolor="%%foreground-color%%" style="color: #333333;">
					<td>
						<table style="width: 90%; min-width: 425px; max-width: 600px;" align="center" cellpadding="0" cellspacing="0" width="600" border="0">
							<tr>
								<!-- Spacer -->
								<td height="20" width="100%">&nbsp;</td>
							</tr>

							<tr>
								<!-- Content -->
								<td width="100%">
									%%content%%
								</td>
							</tr>

							<tr>
								<td>
									<hr style="color: #555555;" />
								</td>
							</tr>

							<tr>
								<!-- Spacer -->
								<td height="20" width="100%">&nbsp;</td>
							</tr>

							<tr>
								<!-- Footer -->
								<td style="color: #555555;">
									<table align="center" cellpadding="0" cellspacing="0" width="100%" border="0">
										<tr>
											<td width="50%">
												<small>%%footer-text%%</small>
											</td>
											<!--
											<td width="50%">
												<div align="right">
													<img src="%%icon_fb%%" alt="fb" height="18" width="18" />
													<img src="%%icon_tw%%" alt="tw" height="18" width="18" />
													<img src="%%icon_gp%%" alt="gp" height="18" width="18" />
												</div>
											</td>
											-->
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<!-- Spacer -->
								<td height="25" width="100%">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="25">&nbsp;</td>
	</tr>
</table>
</body>
</html>