/* Dashboard CSS for the plugin */
.wrap select, .wrap input[type=text], .wrap input[type=password], .wrap textarea
{
	min-width : 300px;
}
.wrap input.colorpicker
{
	margin       : 0;
	padding      : 0;
	border       : 0;
	width        : 70px;
	height       : 20px;
	border-right : 20px solid green;
	line-height  : 20px;
}
.wrap label
{
	margin-bottom : 10px;
}
.wrap .special-label
{
	line-height : 1.3;
	font-weight : 600;

	padding     : 20px 10px 5px 0;

	font-size   : 14px;
	color       : #222222;
}
/* Template Editor */

.remix-templates-editor
{
	min-width : 768px;
}